node_modules
.git
.env
.env.*
!.env.example
!.env.railway.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/live/*
storage/app/public/*
!storage/app/public/.gitkeep
vendor
tests
.phpunit.result.cache
broadcaster
listener
*.md
!README.md
